body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    position: relative;
}

.whatsapp-button {
    position: fixed;
    bottom: 40px;
    right: 20px;
    z-index: 1000;
}

.whatsapp-button a {
    display: block;
    width: 60px;
    height: 60px;
    background-color: #188b42;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.whatsapp-button a:hover {
    background-color: #128C7E;
}

.whatsapp-button img {
    width: 60%;
    height: 100%;
    margin: 20%;
}
